body{
    font-family: sans-serif;
    padding: 20px;
}

form, #adminPanel{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 10px;
    margin-bottom: 20px;
}

input, button{
    padding: 10px;
    font-size: 1em;
}